In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import random
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt

In [2]:
#columns_to_keep = ['hfoodsp','hfdval','h_numper','h_seq','a_age','marsupwt','moop','hhi_yn','chsp_val',
                  # 'gestfips','pedisout','pedisdrs','pedisear', 'pedisrem','pediseye', 'pedisphy', 
                  # 'vet_typ1','vet_yn','pemlr','filestat','wsal_val','semp_val','frse_val',
                  # 'ss_val','rtm_val','oi_val','oi_off','int_yn','uc_yn', 'uc_val','int_val','hfoodmo']

In [3]:
CPS_dataset = pd.read_csv('C:\Users\wangy\OneDrive\Documents\BasicIncomeProject\SNAP.csv')

In [4]:
#recipient or not
CPS_dataset.hfoodsp = np.where(CPS_dataset.hfoodsp == "Yes",1,0)

In [5]:
temp = CPS_dataset.groupby('h_seq')['hfoodsp']

In [6]:
household_SNAP = CPS_dataset.groupby('h_seq')['hfoodsp'].mean()
household_size = CPS_dataset.groupby('h_seq')['h_numper'].mean()

In [7]:
#earned income
wage = pd.to_numeric(np.where(CPS_dataset.wsal_val!= 'None or not in universe', CPS_dataset.wsal_val, 0))
self_employed1 = pd.to_numeric(np.where(CPS_dataset.semp_val!= 'None or not in universe', CPS_dataset.semp_val, 0))
self_employed2 = pd.to_numeric(np.where(CPS_dataset.frse_val!= 'None or not in universe', CPS_dataset.frse_val, 0))
p_earned = wage + self_employed1 + self_employed2 #individual earned income
p_earned = 0.8 * p_earned #for net income calculation, there is a 20% deduction in earned income
CPS_dataset['p_earned'] = p_earned

In [8]:
#unearned income
ss = pd.to_numeric(np.where(CPS_dataset.ss_val!='None or not in universe', CPS_dataset.ss_val, 0))
pension = pd.to_numeric(np.where(CPS_dataset.rtm_val!='None or not in universe', CPS_dataset.rtm_val, 0))
disability = pd.to_numeric(np.where(CPS_dataset.oi_off=='State disability payments', CPS_dataset.oi_val, 0))
unemploy = pd.to_numeric(np.where(CPS_dataset.uc_yn=='Yes', CPS_dataset.uc_val, 0))
interest = pd.to_numeric(np.where(CPS_dataset.int_yn=='Yes', CPS_dataset.int_val, 0))
p_unearned = ss + pension + disability + unemploy + interest #individual unearned income
CPS_dataset['p_unearned'] = p_unearned

In [9]:
CPS_dataset['hh_net_income'] = p_earned + p_unearned
hh_net_income = CPS_dataset.groupby('h_seq')['hh_net_income'].sum()

In [10]:
hh_SNAP = DataFrame(household_SNAP.transpose())

In [11]:
hh_SNAP['hh_net'] = hh_net_income
hh_SNAP['hh_size'] = household_size

In [12]:
hh_SNAP.columns = ['indicator', 'hh_net','hh_size'] #indicator is hfoodsp
# print hh_SNAP

In [13]:
#net income deduction
hh_SNAP.hh_net = np.where(hh_SNAP.hh_size <=3, hh_SNAP.hh_net-155*12, hh_SNAP.hh_net)
hh_SNAP.hh_net = np.where(hh_SNAP.hh_size ==4, hh_SNAP.hh_net-168*12, hh_SNAP.hh_net)
hh_SNAP.hh_net = np.where(hh_SNAP.hh_size ==5, hh_SNAP.hh_net-197*12, hh_SNAP.hh_net)
hh_SNAP.hh_net = np.where(hh_SNAP.hh_size >=6, hh_SNAP.hh_net-226*12, hh_SNAP.hh_net)

In [14]:
#medical deduction
#age over 60
CPS_dataset.a_age = np.where(CPS_dataset.a_age == "80-84 years of age",
                             random.randrange(80, 84),
                             CPS_dataset.a_age)
CPS_dataset.a_age = np.where(CPS_dataset.a_age == "85+ years of age",
                             random.randrange(85, 95),
                             CPS_dataset.a_age)
CPS_dataset.a_age = pd.to_numeric(CPS_dataset.a_age)
#disabled
CPS_dataset['disability'] = np.zeros(len(CPS_dataset))
CPS_dataset.disability = np.where(CPS_dataset.pedisdrs == 'Yes', 1, CPS_dataset.disability)
CPS_dataset.disability = np.where(CPS_dataset.pedisear == 'Yes', 1, CPS_dataset.disability)
CPS_dataset.disability = np.where(CPS_dataset.pediseye == 'Yes', 1, CPS_dataset.disability)
CPS_dataset.disability = np.where(CPS_dataset.pedisout == 'Yes', 1, CPS_dataset.disability)
CPS_dataset.disability = np.where(CPS_dataset.pedisphy == 'Yes', 1, CPS_dataset.disability)
CPS_dataset.disability = np.where(CPS_dataset.pedisrem == 'Yes', 1, CPS_dataset.disability)
#deduction of more than $35 for a month
CPS_dataset.hhi_yn = np.where(CPS_dataset.hhi_yn == 'Yes', 1, 0)
CPS_dataset.moop = np.where(CPS_dataset.moop != 'NIU', CPS_dataset.moop, 0)
CPS_dataset['medical'] = np.zeros(len(CPS_dataset))
CPS_dataset.medical = np.where((CPS_dataset.hhi_yn == 0), CPS_dataset.moop, 0)
CPS_dataset.medical = np.where((CPS_dataset.disability == 1.0)|(CPS_dataset.a_age >= 60), CPS_dataset.moop, 0)
CPS_dataset.medical = pd.to_numeric(CPS_dataset.medical)
hh_medical = CPS_dataset.groupby('h_seq')['medical'].sum()
hh_SNAP['hh_medical'] = hh_medical
hh_SNAP.hh_net = np.where(hh_medical > 35*12, hh_SNAP.hh_net-(hh_medical-35*12), hh_SNAP.hh_net)

In [15]:
#child support
CPS_dataset.chsp_val = np.where(CPS_dataset.chsp_val == "NIU", 0, CPS_dataset.chsp_val)
CPS_dataset.chsp_val = pd.to_numeric(CPS_dataset.chsp_val)
hh_child = CPS_dataset.groupby('h_seq')['chsp_val'].sum()
hh_SNAP['hh_child'] = hh_child
hh_SNAP.hh_net = hh_SNAP.hh_net - hh_SNAP.hh_child

In [16]:
hh_SNAP.hh_net = hh_SNAP.hh_net - (10+290)*12 #dependent care; excess shelter. All based on SNAP official average
hh_SNAP.hh_net = np.where(hh_SNAP.hh_net <0, 0, hh_SNAP.hh_net)

In [17]:
hh_SNAP.hh_net = np.where(hh_SNAP.hh_net > 5490 * 12, -100, hh_SNAP.hh_net)
hh_SNAP = hh_SNAP[hh_SNAP.hh_net>=0]

In [18]:
model = sm.ols(formula='indicator ~ hh_net', data=hh_SNAP).fit()
print model.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:              indicator   R-squared:                       0.121
Model:                            OLS   Adj. R-squared:                  0.121
Method:                 Least Squares   F-statistic:                     5187.
Date:                Sat, 12 Nov 2016   Prob (F-statistic):               0.00
Time:                        21:47:46   Log-Likelihood:                -13579.
No. Observations:               37780   AIC:                         2.716e+04
Df Residuals:                   37778   BIC:                         2.718e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.3364      0.003    112.407      0.000         0.331     0.342
hh_net     -6.732e-06   9.35e-08    -72.019      0.000     -6.92e-06 -6.55e-06
==============================================================================
Omnibus:                     7958.864   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            13983.102
Skew:                           1.439   Prob(JB):                         0.00
Kurtosis:                       3.773   Cond. No.                     5.37e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.37e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [19]:
probs = model.fittedvalues
probs

h_seq
5        0.227720
8        0.195499
19      -0.084678
27       0.083350
28       0.284077
29       0.065933
31       0.336381
34       0.137647
37       0.200279
39       0.336381
40       0.161096
52       0.259342
53       0.238492
58       0.166307
63       0.184632
69       0.018640
71       0.293570
72       0.073826
74       0.239542
75       0.174803
76       0.098457
77       0.206311
84       0.050899
85       0.149428
88       0.266256
91       0.289120
92       0.140723
93       0.336381
94       0.336381
95       0.225310
           ...
97847   -0.092071
97848    0.080657
97850    0.300033
97851    0.077028
97852    0.012164
97855    0.308509
97856    0.005772
97875    0.212612
97880   -0.008521
97882   -0.011409
97883    0.336381
97884   -0.062375
97892    0.093711
97895    0.066148
97896    0.224603
97899    0.061133
97902    0.312151
97903    0.039562
97904    0.185151
97908   -0.064777
97909   -0.078518
97910    0.118008
97913    0.276183
97914    0.176863
97915    0.301642
97917    0.162415
97921    0.336381
97923   -0.014648
97925    0.148742
97926    0.143309
dtype: float64

In [20]:
#weights; states; SNAP value
household_marsupwt = CPS_dataset.groupby('h_seq')['marsupwt'].mean()
hh_SNAP['hh_marsupwt'] = household_marsupwt

household_gestfips = CPS_dataset.groupby('h_seq')['gestfips'].mean()
hh_SNAP['hh_gestfips'] = household_gestfips

CPS_dataset.hfdval = np.where(CPS_dataset.hfdval!= 'Not in universe', CPS_dataset.hfdval, 0)
CPS_dataset.hfdval = pd.to_numeric(CPS_dataset.hfdval)
household_hfdval = CPS_dataset.groupby('h_seq')['hfdval'].mean()
hh_SNAP['hh_hfdval'] = household_hfdval

In [21]:
#Monthly weight of SNAP preparation
CPS_dataset.hfoodmo = np.where(CPS_dataset.hfoodmo == 'Not in universe', 0, CPS_dataset.hfoodmo)
CPS_dataset.hfoodmo = np.where(CPS_dataset.hfoodmo == '12 Months', 12, CPS_dataset.hfoodmo)
CPS_dataset.hfoodmo = np.where(CPS_dataset.hfoodmo == '1 month', 1, CPS_dataset.hfoodmo)
CPS_dataset.hfoodmo = pd.to_numeric(CPS_dataset.hfoodmo)
household_hfoodmo = CPS_dataset.groupby('h_seq')['hfoodmo'].mean()
hh_SNAP['hh_hfoodmo'] = household_hfoodmo

In [22]:
hh_SNAP

,indicator,hh_net,hh_size,hh_medical,hh_child,hh_marsupwt,hh_gestfips,hh_hfdval,hh_hfoodmo
h_seq,,,,,,,,,
5,0,16140.0,1,200,0,698.490000,23,0,0
8,0,20926.0,2,5100,0,982.400000,23,0,0
19,0,62542.0,2,0,0,943.990000,23,0,0
27,0,37584.0,4,0,0,475.190000,23,0,0
28,1,7769.0,1,450,0,1085.380000,23,1344,12
29,0,40171.0,2,2320,0,937.235000,23,0,0
31,1,0.0,1,360,0,616.720000,23,1812,12
34,0,29519.0,2,900,0,982.620000,23,0,0
37,0,20216.0,1,0,4970,1181.960000,23,0,0
39,0,0.0,1,0,0,943.990000,23,0,0
40,1,26036.0,5,0,0,505.050000,23,5400,12
52,0,11443.0,1,2176,0,903.100000,23,0,0
53,0,14540.0,2,0,0,1020.920000,23,0,0
58,0,25262.0,1,4100,0,933.200000,23,0,0
63,0,22540.0,1,0,0,931.830000,23,0,0
69,1,47195.6,4,0,0,483.122500,23,1080,6
71,1,6359.0,1,360,0,887.290000,23,1212,12
72,0,38998.6,2,0,0,943.990000,23,0,0
74,0,14384.0,4,60,0,428.422500,23,0,0
75,0,24000.0,1,560,0,698.990000,23,0,0
76,0,35340.0,3,0,0,588.443333,23,0,0
77,0,19320.0,2,1000,0,1046.130000,23,0,0
84,0,42404.0,4,0,0,517.747500,23,0,0
85,1,27769.0,9,620,0,584.648889,23,2400,12
88,1,10416.0,4,0,0,707.760000,23,2160,12
91,1,7020.0,3,0,0,520.073333,23,1560,12
92,0,29062.0,2,0,0,1046.130000,23,0,0
93,1,0.0,1,60,0,616.720000,23,2268,12
94,0,0.0,2,3000,0,698.990000,23,0,0
95,0,16498.0,2,9150,0,956.150000,23,0,0
...,...,...,...,...,...,...,...,...,...
97847,0,63640.0,7,0,0,581.888571,15,0,0
97848,0,37984.0,4,0,0,377.122500,15,0,0
97850,1,5399.0,1,0,0,391.240000,15,2160,12
97851,0,38523.0,2,1050,0,339.590000,15,0,0
97852,0,48157.6,5,2100,0,354.360000,15,0,0
97855,1,4140.0,3,0,0,702.736667,15,3216,12
97856,0,49107.0,7,710,0,423.662857,15,0,0
97875,1,18384.0,4,0,0,891.190000,15,4800,12
97880,0,51230.0,2,2530,0,530.980000,15,0,0
97882,0,51659.0,1,2200,0,1090.290000,15,0,0
97883,0,0.0,1,0,0,1217.460000,15,0,0
97884,1,59229.2,2,6934,0,1007.560000,15,198,1
97892,0,36045.0,2,9700,0,708.060000,15,0,0
97895,0,40139.0,2,4830,0,496.600000,15,0,0
97896,0,16603.0,4,7400,0,794.000000,15,0,0
97899,0,40884.0,2,0,0,270.120000,15,0,0
97902,0,3599.0,1,0,0,336.080000,15,0,0
97903,0,44088.0,6,0,0,779.113333,15,0,0
97904,0,22463.0,2,3200,0,817.590000,15,0,0
97908,0,59586.0,2,1100,0,320.650000,15,0,0
97909,0,61627.0,4,0,0,416.012500,15,0,0
97910,1,32436.0,5,50,0,446.904000,15,10200,12
97913,0,8941.6,3,0,0,790.193333,15,0,0
97914,0,23694.0,2,2800,0,472.630000,15,0,0
97915,0,5160.0,2,4000,0,550.510000,15,0,0
97917,0,25840.0,2,0,3900,853.840000,15,0,0
97921,1,0.0,1,0,0,673.890000,15,1800,12
97923,0,52140.0,2,0,0,451.330000,15,0,0
97925,0,27871.0,2,0,0,531.590000,15,0,0
97926,0,28678.0,2,720,0,540.600000,15,0,0

In [23]:
admin = pd.read_csv('C:\Users\wangy\OneDrive\Documents\BasicIncomeProject\Administrative.csv',
                    dtype={ 'Household number': np.float,'Average household benefit': np.float, 'Total': np.float, 'Individual number': np.float})
#dtype={'Household number': np.float,'Average household benefit': np.float, 'Total': np.float}
admin.index = admin.Fips

In [24]:
# CPS total benefits and Administrative total benefits
state_benefit = {}
state_recipients = {}
for state in admin.Fips:
    this_state = (hh_SNAP.hh_gestfips==state)
    CPS_totalb = (hh_SNAP.hh_hfdval * hh_SNAP.hh_marsupwt / hh_SNAP.hh_hfoodmo)[this_state].sum()/1000000 #in million, per month
    admin_totalb =  admin.Total[state] /12 /1000000 # in million, per month
    CPS_totaln = (hh_SNAP.hh_marsupwt[this_state&hh_SNAP.indicator==1]*hh_SNAP.hh_hfoodmo/12).sum()/1000 # in thousand, per month
    admin_totaln =  admin["Household number"][state] /1000 #in thousand, per month
    
    temp = [admin.State[state], CPS_totalb, admin_totalb, CPS_totaln, admin_totaln]
    state_benefit[state] = temp
    
pre_augment_benefit = DataFrame(state_benefit).transpose()
pre_augment_benefit.columns = ['State', 'CPS total benefits(monthly)','Admin total benefits(monthly)',
                               'CPS total household recipient(monthly)','Admin total household recipient(monthly)']

In [25]:
pre_augment_benefit

,State,CPS total benefits(monthly),Admin total benefits(monthly),CPS total household recipient(monthly),Admin total household recipient(monthly)
1,Alabama,72.3154,109.844,225.58,419.552
2,Alaska,7.90355,14.5202,20.0439,36.9972
4,Arizona,119.96,123.063,327.805,449.64
5,Arkansas,39.731,55.3099,151.897,221.446
6,California,322.966,617.624,964.365,2019.27
8,Colorado,46.3731,63.8114,142.968,234.098
9,Connecticut,41.3462,58.1196,131.297,242.982
10,Delaware,13.5626,18.3627,39.8634,71.408
11,District of Columbia,10.0727,18.5503,38.2384,80.3602
12,Florida,238.699,456.07,814.854,1920.7
13,Georgia,110.887,235.654,403.746,882.115
15,Hawaii,21.6736,43.7832,46.6441,98.8299
16,Idaho,13.5493,24.6386,47.8386,90.1612
17,Illinois,138.268,266.876,432.291,1021.15
18,Indiana,75.969,109.289,222.891,404.575
19,Iowa,30.6504,44.3404,113.083,193.372
20,Kansas,25.1812,32.9342,86.9585,132.825
21,Kentucky,75.1375,97.5825,240.918,399.207
22,Louisiana,58.0122,107.36,200.187,396.428
23,Maine,20.2867,26.7959,84.1373,122.69
24,Maryland,55.9049,94.428,195.462,403.781
25,Massachusetts,69.5713,106.081,281.224,489.039
26,Michigan,161.931,214.68,529.427,872.538
27,Minnesota,39.7863,55.8502,169.377,260.437
28,Mississippi,62.1454,76.0821,227.072,302.202
29,Missouri,53.0618,103.037,272.756,403.913
30,Montana,9.20859,14.6808,35.3736,59.097
31,Nebraska,13.3359,19.9087,47.1048,76.9186
32,Nevada,23.5846,44.7259,108.67,188.739
33,New Hampshire,7.3558,11.7266,31.9841,53.559
34,New Jersey,61.4274,107.557,226.96,439.695
35,New Mexico,29.3099,52.43,81.4954,195.258
36,New York,261.721,433.397,970.216,1698.56
37,North Carolina,125.193,198.631,438.166,761.105
38,North Dakota,6.80887,6.31375,25.67,25.0112
39,Ohio,151.255,215.23,633.918,851.972
40,Oklahoma,42.8957,72.0875,132.033,279.606
41,Oregon,59.2938,96.8226,214.225,448.855
42,Pennsylvania,136.939,214.471,489.16,889.725
44,Rhode Island,17.4587,23.3203,66.2441,101.002
45,South Carolina,63.3067,102.975,262.799,395.209
46,South Dakota,7.4918,12.4115,25.4692,44.0389
47,Tennessee,118.807,162.66,404.036,650.251
48,Texas,317.415,444.221,969.993,1607.67
49,Utah,19.9953,26.3893,62.6108,90.5701
50,Vermont,7.18637,10.8604,25.4495,48.5747
51,Virginia,57.1865,108.607,202.704,443.607
53,Washington,77.5723,128.962,259.149,585.105
54,West Virginia,23.4764,39.6778,94.3608,176.029
55,Wisconsin,61.0965,92.7484,228.843,420.833
56,Wyoming,3.97708,4.10605,12.8036,15.2494

In [26]:
pre_augment_benefit.to_csv('C:\Users\wangy\OneDrive\Documents\BasicIncomeProject\pre-blow-up.csv')

In [27]:
# caculate difference of SNAP stats and CPS aggregates on recipients number
# by state
diff = {'Fips':[],'Difference in Population':[],'Mean Benefit':[],'CPS Population':[],'SNAP Population':[]}
diff['Fips'] = admin.Fips
current = (hh_SNAP.indicator==1)
for FIPS in admin.Fips:
        this_state = (hh_SNAP.hh_gestfips==FIPS)
        current_tots = (hh_SNAP.hh_marsupwt[current&this_state]*hh_SNAP.hh_hfoodmo/12).sum()
        valid_num = (hh_SNAP.hh_marsupwt[current&this_state]*hh_SNAP.hh_hfoodmo/12).sum() + 0.0000001
        current_mean = ((hh_SNAP.hh_hfdval * hh_SNAP.hh_marsupwt / hh_SNAP.hh_hfoodmo)[current&this_state].sum())/valid_num
        diff['CPS Population'].append(current_tots)
        diff['SNAP Population'].append(float(admin["Household number"][admin.Fips == FIPS]))
        diff['Difference in Population'].append(float(admin["Household number"][admin.Fips == FIPS])- current_tots)
        diff['Mean Benefit'].append(current_mean)

In [28]:
d = DataFrame(diff)
d = d[['Fips', 'Mean Benefit', 'Difference in Population', 'CPS Population', 'SNAP Population']]
d.to_csv('recipients.csv', index=False)

In [29]:
hh_SNAP['impute'] = np.zeros(len(hh_SNAP))
hh_SNAP['snap_impute'] = np.zeros(len(hh_SNAP))

non_current = (hh_SNAP.indicator==0)
current = (hh_SNAP.indicator==1)
random.seed()

for FIPS in admin.Fips:
    
        print ('we need to impute', d['Difference in Population'][FIPS], 'for state', FIPS)
        
        if d['Difference in Population'][FIPS] < 0:
            continue
        else:
            this_state = (hh_SNAP.hh_gestfips==FIPS)
           
            not_imputed = (hh_SNAP.impute==0)
            
            pool_index = hh_SNAP[this_state&not_imputed&non_current].index
            pool = DataFrame({'weight': hh_SNAP.hh_marsupwt[pool_index], 'prob': probs[pool_index]},
                            index=pool_index)
            
            pool = pool.sort(columns='prob', ascending=False)
            pool['cumsum_weight'] = pool['weight'].cumsum()
            pool['distance'] = abs(pool.cumsum_weight-d['Difference in Population'][FIPS])
            min_index = pool.sort(columns='distance')[:1].index
            min_weight = int(pool.loc[min_index].cumsum_weight)
            pool['impute'] = np.where(pool.cumsum_weight<=min_weight+10 , 1, 0)
            hh_SNAP.impute[pool.index[pool['impute']==1]] = 1
            hh_SNAP.snap_impute[pool.index[pool['impute']==1]] = admin['Average household benefit'][FIPS]*12

        print ('Method1: regression gives', 
                hh_SNAP.hh_marsupwt[(hh_SNAP.impute==1)&this_state].sum())

('we need to impute', 193971.92316468252, 'for state', 1)
('Method1: regression gives', 193027.59261904753)
('we need to impute', 16953.308549603178, 'for state', 2)
('Method1: regression gives', 16797.314166666667)
('we need to impute', 121834.77696626983, 'for state', 4)

C:\Users\wangy\Anaconda2\lib\site-packages\ipykernel\__main__.py:23: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
C:\Users\wangy\Anaconda2\lib\site-packages\ipykernel\__main__.py:26: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
C:\Users\wangy\Anaconda2\lib\site-packages\ipykernel\__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\wangy\Anaconda2\lib\site-packages\ipykernel\__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

('Method1: regression gives', 119766.6946666667)
('we need to impute', 69548.836071428552, 'for state', 5)
('Method1: regression gives', 69475.75000000001)
('we need to impute', 1054907.1063809535, 'for state', 6)
('Method1: regression gives', 1057804.2596245422)
('we need to impute', 91129.277058531821, 'for state', 8)
('Method1: regression gives', 91897.0976190476)
('we need to impute', 111685.27889285717, 'for state', 9)
('Method1: regression gives', 110547.62683333334)
('we need to impute', 31544.582886904755, 'for state', 10)
('Method1: regression gives', 31343.850833333338)
('we need to impute', 42121.886740079382, 'for state', 11)
('Method1: regression gives', 42309.51083333331)
('we need to impute', 1105843.3499348853, 'for state', 12)
('Method1: regression gives', 1106487.1476666662)
('we need to impute', 478369.01947222208, 'for state', 13)
('Method1: regression gives', 477570.1771190478)
('we need to impute', 52185.792585317453, 'for state', 15)
('Method1: regression gives', 52298.43083333334)
('we need to impute', 42322.601577380963, 'for state', 16)
('Method1: regression gives', 41522.10416666668)
('we need to impute', 588858.50728096464, 'for state', 17)
('Method1: regression gives', 589137.2616666665)
('we need to impute', 181684.50814880966, 'for state', 18)
('Method1: regression gives', 180510.71983333337)
('we need to impute', 80288.963799603196, 'for state', 19)
('Method1: regression gives', 80007.15583333334)
('we need to impute', 45866.915066137604, 'for state', 20)
('Method1: regression gives', 45123.86758333333)
('we need to impute', 158288.98647222226, 'for state', 21)
('Method1: regression gives', 158481.9866666666)
('we need to impute', 196241.23023809522, 'for state', 22)
('Method1: regression gives', 197681.43335714284)
('we need to impute', 38553.133201479097, 'for state', 23)
('Method1: regression gives', 38179.81749999998)
('we need to impute', 208319.20975396837, 'for state', 24)
('Method1: regression gives', 209432.22909523806)
('we need to impute', 207815.36766666663, 'for state', 25)
('Method1: regression gives', 207437.7733333333)
('we need to impute', 343111.53195833357, 'for state', 26)
('Method1: regression gives', 345647.9857142857)
('we need to impute', 91059.738461309549, 'for state', 27)
('Method1: regression gives', 92353.09916666667)
('we need to impute', 75130.020424603135, 'for state', 28)
('Method1: regression gives', 75953.35899999998)
('we need to impute', 131156.86422222236, 'for state', 29)
('Method1: regression gives', 129579.28433333331)
('we need to impute', 23723.354047619039, 'for state', 30)
('Method1: regression gives', 23433.993333333336)
('we need to impute', 29813.756472222238, 'for state', 31)
('Method1: regression gives', 29407.765)
('we need to impute', 80068.678787698445, 'for state', 32)
('Method1: regression gives', 80067.58000000002)
('we need to impute', 21574.858619047624, 'for state', 33)
('Method1: regression gives', 21734.644000000004)
('we need to impute', 212734.69872222218, 'for state', 34)
('Method1: regression gives', 213739.40666666668)
('we need to impute', 113762.88133333334, 'for state', 35)
('Method1: regression gives', 112992.69249999999)
('we need to impute', 728343.01048839535, 'for state', 36)
('Method1: regression gives', 728694.0086904758)
('we need to impute', 322938.58010317455, 'for state', 37)
('Method1: regression gives', 320810.99433333334)
('we need to impute', -658.81598214286714, 'for state', 38)
('we need to impute', 218054.30090674642, 'for state', 39)
('Method1: regression gives', 216226.12916666668)
('we need to impute', 147572.21156746033, 'for state', 40)
('Method1: regression gives', 147876.04028571426)
('we need to impute', 234630.15504437228, 'for state', 41)
('Method1: regression gives', 234674.38450000004)
('we need to impute', 400565.21333730174, 'for state', 42)
('Method1: regression gives', 398626.48566666676)
('we need to impute', 34758.107841269855, 'for state', 44)
('Method1: regression gives', 34975.86683333333)
('we need to impute', 132409.57005555549, 'for state', 45)
('Method1: regression gives', 131774.11033333334)
('we need to impute', 18569.76006349206, 'for state', 46)
('Method1: regression gives', 18801.00583333333)
('we need to impute', 246214.59046626987, 'for state', 47)
('Method1: regression gives', 246429.29500000004)
('we need to impute', 637676.64328769874, 'for state', 48)
('Method1: regression gives', 637082.2453333333)
('we need to impute', 27959.310779761894, 'for state', 49)
('Method1: regression gives', 27926.736666666668)
('we need to impute', 23125.189194444454, 'for state', 50)
('Method1: regression gives', 23067.66)
('we need to impute', 240903.07214087303, 'for state', 51)
('Method1: regression gives', 241567.08083333328)
('we need to impute', 325955.10031812161, 'for state', 53)
('Method1: regression gives', 324967.9975000002)
('we need to impute', 81667.856610389645, 'for state', 54)
('Method1: regression gives', 81989.28749999999)
('we need to impute', 191989.96266369053, 'for state', 55)
('Method1: regression gives', 193734.30666666667)
('we need to impute', 2445.8437222222219, 'for state', 56)
('Method1: regression gives', 2322.66)

In [30]:
results = {}

imputed = (hh_SNAP.impute == 1)
has_val = (hh_SNAP.hh_hfdval != 0)
no_val = (hh_SNAP.hh_hfdval == 0)

for FIPS in admin.Fips:
    this_state = (hh_SNAP.hh_gestfips==FIPS)
    
    current_total = (hh_SNAP.hh_hfdval * hh_SNAP.hh_marsupwt)[this_state].sum() #yearly benefit
    imputed_total = (hh_SNAP.snap_impute * hh_SNAP.hh_marsupwt)[this_state&imputed].sum()
    on_file = current_total + imputed_total

    admin_total = admin.Total[FIPS]
    
    adjust_ratio = admin_total / on_file
    this_state_num = [admin['State'][FIPS], on_file, admin_total, adjust_ratio]
    results[FIPS] = this_state_num
    

    hh_SNAP.snap_impute = np.where(has_val&this_state, hh_SNAP.hh_hfdval * adjust_ratio, hh_SNAP.snap_impute)
    hh_SNAP.snap_impute = np.where(no_val&this_state, hh_SNAP.snap_impute * adjust_ratio, hh_SNAP.snap_impute)

hh_SNAP["snap_participation"] = np.zeros(len(hh_SNAP))
hh_SNAP["snap_participation"] = np.where(hh_SNAP.impute==1, 2, 0)
hh_SNAP["snap_participation"] = np.where(has_val, 1, hh_SNAP.snap_participation)


r = DataFrame(results).transpose()
r.columns=['State', 'Imputed', 'Admin', 'adjust ratio']
r.to_csv('amount.csv', index=False)

In [31]:
hh_SNAP.to_csv('SNAP_Imputation.csv', 
                   columns=['snap_participation', 'snap_impute'])

In [32]:
#Individual check
imputed = (hh_SNAP.snap_participation != 0)
result = {}

for FIPS in admin.Fips:
    this_state = (hh_SNAP.hh_gestfips==FIPS)
    admin_totalindividual =  admin["Individual number"][FIPS]
    imputed_totalindividual = ( hh_SNAP.hh_marsupwt* hh_SNAP.hh_size)[this_state&imputed].sum()
    this_state_numindividual = [admin['State'][FIPS], admin_totalindividual, imputed_totalindividual]
    results[FIPS] = this_state_numindividual
    
r = DataFrame(results).transpose()
r.columns=['State', 'admin_totalindividual', 'imputed_totalindividual']
r.to_csv('check_individual.csv', index=False)